@color_1: #ffffff;
@color_2: #2b2b2b;
@color_3: #000;
@color_4: #404040;
@color_5: #4a4949;
@color_6: #7c7c7c;
@color_7: #d33;
@color_8: #dd3333;
@color_9: #111111;
@color_instagram: #e1306e;
@font_family_1: Verdana, Geneva, sans-serif;
@background_color_1: #ffffff;
@background_color_2: #ba1414;
@background_color_3: #700c0c;
@background_color_4: #ddd;
@background_color_5: #000000;
@background_color_6: #F3F0F0;
@background_color_7: #dbdbdb;
@background_color_8: rgba(0,0,0,.03);
@background_color_9: #dadada;
@background_color_10: #d33;
@background_color_11: #009b3a;
@background_color_12: #DD3333;
@background_color_13: #b60000;
@background_color_14: #c60000;
@background_color_15: #ce0000;
@background_color_16: #dc0000;
@background_color_17: #ec0000;
@background_color_18: #dd3333;
@background_color_19: #CDCDCD;

@font1:'Open Sans', arial, sans-serif;
@font2: Verdana, Geneva, sans-serif;
@font3:'Roboto', sans-serif;
@font4:'newspaper', sans-serif;

/******************************************************
*                  CUSTOM STYLE - CNA
******************************************************/

/* TYPOGRAPHY */
body,
p {
  font-family: @font1;
}
.wp-caption-text,
.wp-caption-dd {
  font-family: @font1;
}
.td-page-content .dropcap,
.td-post-content .dropcap,
.wpb_text_column .dropcap,
.td_block_text_with_title .dropcap,
.bbpress .dropcap,
.woocommerce #tab-description .dropcap,
.mce-content-body .dropcap,
.comment-content .dropcap {
  font-family: @font1;
}
.td_top_authors .td-authors-url a {
	font-family: @font1;
}

#td-theme-settings {
	font-family: @font1;
}
.td_wrapper_video_playlist .td_video_title_playing {
	font-family: @font1;
}  
.td-sml-caption {
	font-family: @font1;
}
#bbpress-forums .bbp-topic-header .bbp-meta .bbp-topic-permalink {
	font-family: @font1;
}




/* TEMPLATES */
//
// Category Template CNA
.td_category_template_cna .td-category-header {
    padding-bottom: 18px;
}
// Post content
.td-post-content p,
.td-page-content p, 
// .wpb_text_column p, 
// .td_block_text_with_title p, 
// .woocommerce #tab-description p, 
.mce-content-body p, 
.td-page-content li, 
.td-post-content li, 
// .wpb_text_column li, 
// .td_block_text_with_title li, 
// .woocommerce #tab-description li, 
.mce-content-body li{
	font-size: 18px;
	line-height: 1.625;
}
// Post template CNA 
div[class*="post-template-cna"] {
	.td-crumb-container {
		margin-bottom: 20px;
	}
	.td-post-title {
		margin-bottom: 40px;
		.entry-title {
			font-weight: 600;
		}
	}
	.td-post-sub-title {
		font-size: 20px;
		line-height: 1.4;
		margin: 12px 0 20px;
		font-weight: 400;
		color: #666;
		font-style: normal;
	}
	.td-post-sharing {
		text-align: center;
		.td-social-sharing-buttons {
			margin-right: 0px;
		}
		&.td-post-sharing-top {
			margin-bottom: 26px;
		}
	}
	.td-module-meta-info {
		margin: -7px 0 26px;
		font-size: 13px;
		> [class^="td"] {
			display: block;
			margin-bottom: 2px;
		}
		.td-post-author-name {
			font-size: 16px;
			&::first-letter {
				text-transform: uppercase;
			}
			> a {
				color: @color_6;
			}
		}
	}
	.td-post-featured-image {
		img {
			width: 100%;
		}
	}
}
// Post Template CNA 1
.post-template-cna-1  {
	.sidebar-post-cna  {
		margin-top: 66px;
	}
}

// Post Template CNA 2
.post-template-cna-2  {
	.td-post-header{
		background-color: @background_color_6;
		padding: 30px;
		margin-bottom: 40px;
		.td-post-sub-title {
			margin-top: 25px;
		}
		.td-post-sharing {
			text-align: left; 
		}
		.td-post-sharing-top  {
			margin-top: 26px;
			margin-bottom: 0 !important;
		}
	}
	.wrapper-feature {
		margin-bottom: 26px;
	}
}

/* WIDGETS */
//
// SOCIAL NETWORK
.td-social-icon-wrap i.td-icon-instagram:hover {
	color: @color_instagram !important;
}
// SOCIAL COUNTER
.td_social_instagram {
	background-color: @color_instagram !important;
}
// WP-POLLS
.wp-polls  {
	margin-top: 10px;
	&:first-child {
		margin-top: 0px;
	}
	> p {
		font-size: 16px !important;
	}
	.pollTitle {
		line-height: 1.425;
	}
}
// APP CNA
.wrapper_app_cna {
	font-size: 15px;
	line-height: 1.5;
	text-align: justify;
	.app_info {
		padding: 0 5px;
		margin-bottom: 13px;
	}
	.wrapper_app_img {
		display: inline-block;
		transition: all ease-in-out 300ms;
		&::after  {
			transition: all ease-in-out 300ms;
		}
		&.in-construction:hover {
			position: relative;
			&::after {
				content: "EN CONSTRUCCIÓN";
				display: block;
				width: 100%;
				height: 100%;
				background-color: white;
				color: #555555;
				font-size: 16px;
				font-weight: 600;
				padding-top: 22px;
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
				opacity: 0.9;
			}
		}
	}

}

/* DIV BLOCKS */
//
// Trending bar
.td-trending-now-wrapper {
	margin: 0 24px;
	padding: 0px;
	height: 40px;
	background-color: @background_color_6;
	overflow: hidden;
	.td-trending-now-title {
		width: 35%;
		height: 40px;
		line-height: 39px;
		font-size: 20px;
		text-align: right;
	}
	.td-trending-now-post {
		width: 60%;
		height: 40px;
		padding-top: 6px;
		padding-right: 0;
		.entry-title {
			text-transform: none;
			font-size: 16px;
			white-space: nowrap;
			overflow: hidden;
  			text-overflow: ellipsis;
		}
		
	}
	.td-next-prev-wrap {
		display: none;
	}
}




.fullimageSize-458798 {
	img {
		margin-bottom: 10px;
		width: 100%;
	}
}
div.td_block_text_with_title {
	padding-bottom: 27px;
}
.td_block_it837003251 {
	.td_mod_wrap {
		display: none;
	}
	.td_block_text_with_title {
		padding-bottom: 0;
	}
}
div.td_block_it837003251 {
	>.vc_column-inner {
		padding-left: 0;
		padding-right: 0;
	}
}
.td_block_id_2843564852 {
	.td_mod_wrap {
		>div {
			&:first-of-type {
				font-size: 12px;
				margin-bottom: 5px;
			}
		}
	}
}
.td_block_id_2828365501 {
	.td_mod_wrap {
		>div {
			&:first-of-type {
				font-size: 12px;
				margin-bottom: 5px;
			}
		}
	}
}
div.td-footer-wrapper {
	padding: 5px 0 0;
	max-width: 1068px;
	margin: 0 auto;
	a {
		color: @color_1;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	img {
		display: block;
		margin: 0 auto;
		width: 12%;
		height: auto;
	}
}
div.footer-logo-wrap {
	margin-bottom: 10px;
	margin-top: 5px;
}
div.footer-email-wrap {
	padding-top: 5px;
}
div.td-footer-template-4 {
	.td-footer-info {
		margin-bottom: 26px;
	}
}
.wpcna-sidebar-poll {
	padding: 10px 10px 10px;
	background-image: url(images/trama_square.jpg);
}
.wp-polls {
	background-color: @background_color_1;
	padding: 15px 8px 5px;
	border: none;
	position: relative;
	>p {
		font-size: 15px;
	}
	a[href^="#ViewPoll"] {
		color: @color_2;
		display: block;
		padding: 5px;
		text-decoration: none;
		transition: all .20s;
		-moz-transition: all .20s;
		-webkit-transition: all .20s;
		font-weight: bold;
		font-size: 14px;
		&:hover {
			text-decoration: underline;
		}
	}
	input.Buttons {
		padding: 6px 20px;
		color: @color_1;
		border: none;
		text-transform: uppercase;
		transition: all .20s;
		-moz-transition: all .20s;
		-webkit-transition: all .20s;
		text-decoration: none;
		background-color: @background_color_2;
		width: 70%;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		&:hover {
			background-color: @background_color_3;
		}
	}
	a[href^="#VotePoll"] {
		padding: 6px 20px;
		color: @color_1;
		border: none;
		text-transform: uppercase;
		transition: all .20s;
		-moz-transition: all .20s;
		-webkit-transition: all .20s;
		text-decoration: none;
		background-color: @background_color_2;
		width: 70%;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		margin-bottom: 15px;
		display: inline-block;
		&:hover {
			background-color: @background_color_3;
		}
	}
	.pollLogo {
		width: 90px;
		position: absolute;
		top: -45px;
		left: 0;
		right: 0;
		margin: auto;
		img {
			margin: 0;
			display: block;
		}
	}
	.wp-polls-ans {
		>p {
			&:first-of-type {
				display: none;
			}
		}
		.wp-custom-cna-polls-ans {
			li {
				position: relative;
				background-color: @background_color_4;
				background-image: url(images/barprogress_bg.jpg);
				background-repeat: repeat-x;
				height: 30px;
				margin: 15px auto !important;
				&:first-child {
					margin-top: 7px !important;
				}
				&:last-child {
					margin-bottom: 7px !important;
				}
				&:nth-child(2n) {
					.pollbar {
						background: #f0a3a3;
					}
				}
			}
			.pollbar {
				height: 100%;
				border: none;
				position: absolute;
				left: 0;
				top: 0;
				background: #cdf3a6;
				text-align: right;
				font-size: 14px;
				line-height: 30px;
				margin: 0;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
			.answer-label {
				position: absolute;
				width: 100%;
				text-align: right;
				white-space: nowrap;
				padding-left: 7px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				color: @color_2;
				span {
					color: @color_3;
				}
			}
		}
	}
	.wp-polls-form {
		.wp-polls-ans {
			ul {
				margin: 10px auto 15px;
			}
			>p {
				&:first-of-type {
					display: block;
					margin-bottom: 5px;
				}
			}
		}
	}
	h4.pollTitle {
		font-weight: bold;
		text-align: center;
		margin-top: 0;
	}
	.pollTitle {
		margin: 10px 15px 0;
		padding-bottom: 5px;
		line-height: 20px;
		strong {
			font-weight: normal;
			font-size: 18px;
		}
	}
	.wp-polls-loading {
		position: absolute;
		left: 0;
		right: 0;
		top: 20px;
		margin: auto;
	}
}
.wp-polls.results-type {
	.pollLogo {
		display: none;
	}
	a[href="#VotePoll"] {
		display: none;
	}
	margin-top: 10px;
	h4.pollTitle {
		font-size: 17px;
		margin-top: 2px;
		font-weight: bold;
		padding-bottom: 0;
	}
	.wp-custom-cna-polls-ans {
		margin-bottom: 16px;
	}
}
.td_block_text_with_title {
	.wp-polls {
		li {
			margin: 7px auto;
			text-align: left;
			width: 15%;
			position: relative;
			font-weight: bold;
			line-height: 20px;
			input {
				position: absolute;
				width: 13px;
				height: 13px;
				margin: auto;
				left: -20px;
				top: 4px;
			}
		}
		.wp-polls-ans {
			li {
				margin: 7px auto;
				text-align: left;
				width: 15%;
				position: relative;
				font-weight: bold;
				line-height: 20px;
				input {
					position: absolute;
					width: 13px;
					height: 13px;
					margin: auto;
					left: -20px;
					top: 4px;
				}
			}
		}
		.wp-polls-ans.wp-polls-stad {
			li {
				width: 84%;
			}
		}
	}
}

.td-customField22324345454.td-pb-row {
	margin-left: -10px;
	margin-right: -10px;
	[class*="td-pb-span"] {
		padding: 20px 20px 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #999999;
		margin: 0 1.5%;
		width: 30.33333333%;
	}
	.wpb_single_image.vc_align_center {
		margin-bottom: 0;
	}
	.wpb_text_column {
		p {
			margin-bottom: 5px;
			text-transform: uppercase;
		}
		&:first-child {
			p {
				&:last-child {
					font-size: .938em;
					margin-bottom: 12px;
					font-weight: bold;
					line-height: 16px;
				}
			}
		}
	}
	div.wpb_text_column {
		p {
			&:first-child {
				font-size: .813em;
			}
		}
	}
	.wpb_content_element {
		margin-bottom: 14px;
		padding-bottom: 8px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
			margin-top: -6px;
			p {
				margin-bottom: 0;
			}
		}
		&:first-child {
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 95%;
				height: 1px;
				background-color: @background_color_5;
			}
		}
	}
}
.td-header-sp-top-menu {
	#wpc-weather.small {
		.now {
			>.location_name {
				display: block;
			}
			>div {
				display: block;
				font-size: 11px;
			}
			.time_temperature {
				margin-top: -10px;
			}
			.time_symbol {
				svg {
					margin-bottom: 0;
					width: 30px;
					height: 30px;
				}
			}
		}
	}
	#wpc-weather {
		margin: 0 0 -5px;
		padding: 2px 10px;
		width: auto;
	}
	.wpc-weather-id {
		display: inline-block;
		margin: 10px 0 10px 5px;
		border-right: 1px solid #808080;
		&:first-child {
			border-left: 1px solid #808080;
		}
	}
	.td_data_time {
		display: block;
		margin-bottom: 0;
		margin-top: 5px;
		line-height: 18px;
	}
}
div.td-header-sp-top-widget {
	margin-top: 6px;
}
.td-header-sp-top-widget {
	.td-social-icon-wrap {
		.td-icon-font {
			font-size: 16px;
		}
	}
}
#tdw-2732633243 {
	.wpc-weather-id {
		display: inline-block;
		width: 31.33%;
		margin: 0 1%;
	}
	.wpc-weather-800 {
		margin: 4px 0;
	}
}
#tdblock-3333434543543 {
	.inlineDolar {
		width: 49%;
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 0;
		background-color: @background_color_6;
		text-align: center;
		font-size: 25px;
		background-color: @background_color_7;
		color: @color_4;
		div {
			margin-bottom: 15px;
			margin-top: 15px;
			&:last-child {
				font-size: 12px;
				margin-top: 0;
				line-height: initial;
				padding: 2px;
				color: @color_5;
				margin-bottom: 0;
				background-color: @background_color_8;
			}
		}
	}
}
.td-ss-main-sidebar {
	.td_block_9 {
		.td_block_inner {
			>div {
				display: list-item;
				padding-left: 55px;
				position: relative;
				&:before {
					content: "-> "counter(my-badass-counter, decimal-leading-zero);
					counter-increment: my-badass-counter;
					position: absolute;
					top: 2px;
					left: 0;
					color: @color_6;
				}
			}
			counter-reset: my-badass-counter;
			.td-module-meta-info {
				display: none;
			}
			.td_module_8 {
				padding-bottom: 5px;
				margin-bottom: 10px;
			}
		}
	}
	.wtii-clock-digital {
		>ul {
			background-color: @background_color_9;
			padding: 20px 0;
			li {
				font-size: 3.5em;
			}
		}
	}
	.td_block_text_with_title {
		img {
			margin-bottom: 0;
			width: 100%;
			display: block;
		}
	}
}
.contID-126726137213 {
	.subtitle {
		background-color: @background_color_10;
		font-size: 16px;
		color: @color_1;
		text-transform: uppercase;
		text-align: center;
		padding: 5px 15px;
	}
	.text {
		color: @color_7;
		background-color: @background_color_1;
		font-size: 20.5px;
		padding: 5px 15px;
		text-align: center;
		&:last-child {
			border-bottom: 5px solid #d33;
		}
	}
}
.whatsappBlock-2343242642 {
	background-color: @background_color_11;
	color: @color_1;
	padding: 4.5% 3%;
	font-size: 16px;
	.biLine {
		display: inline-block;
		vertical-align: middle;
		width: 27.2%;
	}
	.icon {
		background-image: url(images/icons/whatsapp.png);
		padding-bottom: 28.016%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-right: -5px;
	}
	.text.biLine {
		width: 69.92%;
		text-align: center;
	}
	.subtitle {
		font-size: 1.125em;
	}
	.number {
		font-size: 2em;
		margin: 6px 0 2px;
	}
	.subtext {
		font-size: .625em;
	}
}
.td-header-wrap {
	.top-bar-style-2 {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background-image: url(images/custom/nuevologocna-header.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			top: 17px;
			right: 0;
			bottom: 0;
			left: 0;
			width: 16%;
			padding-bottom: 16.21%;
			margin: auto;
		}
		.thisCNATVWrap {
			margin-top: 10px;
		}
		.thisCNATV {
			background-image: url(images/custom/cna-envivonuevo.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 70%;
			padding-bottom: 73.5%;
			margin-left: 17%;
		}
	}
	div.td-header-top-menu-full {
		border-top: 2px solid #232121;
		border-bottom: 2px solid #232121;
		margin-bottom: 10px;
	}
}
.td-details-weather {
	.thisCNATVWrap {
		margin-top: 10px;
		.thisCNATV {
			background-image: url(images/custom/cna-envivonuevo.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 70%;
			padding-bottom: 73.5%;
			margin-left: 17%;
		}
	}
}
.top-bar-style-2 {
	.td-header-sp-top-menu {
		text-align: right;
	}
}
div.td-header-top-menu-full {
	.td-header-row {
		[class="td-header-sp-top-widget"] {
			text-align: left;
			margin-top: 25px;
			margin-left: 15px;
		}
	}
}
.td-header-row {
	[class="td-header-sp-top-widget"] {
		.textSub {
			padding-left: 10px;
		}
	}
}
.td-header-top-menu-full {
	.td-header-row {
		[class*="td-header-sp"] {
			margin: 26px 0 24px;
			margin-right: 20px;
		}
	}
}
.td_block_big_grid_3 {
	.td-big-thumb.bigCustomBlock {
		padding: 0;
		background-color: @background_color_12;
		color: @color_1;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 62%;
	}
}
.smallCustomBlock.td-big-grid-post {
	.td-meta-info-container {
		position: relative;
	}
	margin-top: 10px;
	background-color: @background_color_12;
	padding-top: 5px;
	&:last-child {
		float: right;
	}
	.entry-title {
		a {
			color: @color_1;
		}
	}
}
.bigCustomBlock.td-big-grid-post {
	.td-meta-info-container {
		position: relative;
	}
	.entry-title {
		a {
			color: @color_1;
			letter-spacing: -1px;
		}
	}
}
.td-big-grid-scroll {
	position: relative;
	width: 37%;
	float: right;
}
.td_mycBlock_3432434539 {
	.td_block_text_with_title {
		padding-bottom: 0;
		margin-bottom: -26px;
	}
	.td_module_mx11.td-medium-thumb {
		.td-meta-info-container {
			margin: 0;
			padding: 5px 10px 5px 5px;
			width: 100%;
			background-color: @background_color_12;
			bottom: auto;
			top: 0;
			.td-big-grid-meta {
				margin: 3px 5px 5px 5px;
			}
		}
	}
	.td_block_big_grid_3 {
		.td-big-thumb {
			.td-module-thumb {
				width: 100%;
			}
		}
		.td-medium-thumb {
			width: 100%;
			.td-module-thumb {
				height: 284px;
			}
		}
		.td-small-thumb {
			.td-module-thumb {
				width: 100%;
				height: 180px;
			}
		}
	}
	.td-grid-style-1 {
		.td-big-thumb {
			.entry-title {
				font-size: 48px;
				line-height: 45px;
				min-height: 140px;
				margin-top: 4px;
				margin-bottom: 20px;
			}
			.td-big-grid-meta {
				width: auto;
			}
		}
		.td-small-thumb {
			.entry-title {
				margin: 2px auto 0;
				font-size: 20px;
				line-height: 24px;
				font-weight: 500;
				height: 96px;
				overflow: hidden;
			}
			img {
				width: auto;
				height: 100%;
				margin-left: -18%;
			}
		}
		.td-medium-thumb {
			img {
				width: auto;
				height: 100%;
				margin-left: -18%;
			}
		}
	}
	.mycExcerpt {
		margin: -20px 5px 10px;
		min-height: 42px;
	}
}
.customGrid2Gallery {
	.td_block_text_with_title {
		padding-bottom: 0;
		margin-bottom: -26px;
	}
	.td-pb-span12 {
		.td_block_big_grid_2 {
			.td-big-grid-wrapper {
				.td-big-grid-scroll {
					float: left;
					width: 61.5%;
				}
			}
		}
	}
}
.bigCustomBlock {
	.td-meta-info-container {
		margin-bottom: 0;
		padding: 18px;
	}
	.td-module-thumb {
		img {
			width: 100%;
		}
	}
}
.td-grid-style-1 {
	.bigCustomBlock.td-big-thumb {
		.td-big-grid-meta {
			margin: 0 0 0 5px;
		}
	}
	.bigGrid2Gallery.td-big-thumb {
		.entry-title {
			font-size: 20px;
			line-height: 20px;
			margin: 15px 0;
			font-size: 22px;
			line-height: 24px;
			margin: 20px 0;
		}
	}
}
.bigGrid2Gallery.td_module_mx9 {
	float: right;
	width: 37%;
	img {
		height: 100%;
		width: auto;
		margin-left: -25%;
	}
}
.smallGrid2Gallery.td_module_mx10 {
	float: left;
	width: 48.5%;
	.module_excerpt {
		display: none;
	}
	&:first-child {
		width: 100%;
		margin-bottom: 15px;
		.module_excerpt {
			display: block;
			max-height: 67px;
			color: @color_1;
			margin-top: 10px;
			margin-bottom: 18px;
			overflow: hidden;
			>* {
				padding-left: 0;
				padding-right: 0;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	&:last-child {
		float: right;
	}
}
.smallGrid2Gallery.td_module_mx10.td-small-thumb {
	&:first-child {
		.td-module-thumb {
			width: 100%;
			height: 350px;
		}
		img {
			width: auto;
			height: 100%;
			margin-top: 0;
		}
		.entry-title {
			font-size: 30px;
			line-height: 36px;
		}
	}
	.td-module-thumb {
		width: 100%;
		height: auto;
	}
	img {
		width: auto;
		height: auto;
	}
}
.smallGrid2Gallery.td-small-thumb {
	.entry-title {
		font-size: 20px;
		line-height: 20px;
		margin: 15px 0;
	}
}
.td_block_big_grid_2 {
	.bigGrid2Gallery.td-big-thumb {
		.td-module-thumb {
			height: 650px;
		}
	}
}
.lastNews.td-main-content-wrap {
	padding-bottom: 0;
	overflow: hidden;
	margin-bottom: 26px;
	li {
		float: left;
		width: 24.6%;
		position: relative;
		margin: 0 0 0 .5%;
		display: list-item;
		&:first-child {
			margin-left: 0;
			a {
				background-color: @background_color_13;
			}
		}
		&:last-child {
			margin-right: 0;
			a {
				background-color: @background_color_17;
			}
		}
		&:nth-child(2) {
			a {
				background-color: @background_color_14;
			}
		}
		&:nth-child(3) {
			a {
				background-color: @background_color_15;
			}
		}
		&:nth-child(4) {
			a {
				background-color: @background_color_16;
			}
		}
		&::before {
			content: counter(my-lastnews-counter);
			counter-increment: my-lastnews-counter;
			position: absolute;
			top: 15px;
			left: 10px;
			font-size: 42px;
			color: @color_1;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		counter-reset: my-lastnews-counter;
		list-style: none;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		color: @color_1;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 54px 15px 15px 15px;
		min-height: 155px;
		max-height: 155px;
		font-size: 17px;
		line-height: 22px;
	}
	.lnTitle {
		font-weight: bold;
		font-size: 18px;
	}
}
.headerBlock15-25615 {
	.td_block_15 {
		.td-column-3 {
			.td-module-thumb {
				height: auto;
			}
			.td-block-row {
				.td-block-span4 {
					width: 25%;
				}
			}
		}
	}
	h2 {
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
}
div.cb-6578454645 {
	margin-bottom: 50px;
	margin-top: -45px;
}
div.cb-657545417432 {
	margin-top: -35px;
	margin-bottom: 15px;
}
.banSections-2343857435 {
	position: fixed;
	top: 10px;
	width: 100%;
	left: 0;
	right: 0;
	max-width: 1068px;
	margin: 0 auto;
	>div {
		position: absolute;
		top: 0;
	}
	.left {
		right: 100.5%;
		width: 14.55%;
		text-align: right;
	}
	.right {
		left: 100.5%;
		width: 14.55%;
		text-align: left;
	}
	img {
		max-width: initial;
	}
}
.td-header-style-6 {
	max-width: 1068px;
	margin: 0 auto;
}
.screenWeb-342342425 {
	display: none;
	margin-top: -8px;
	iframe {
		width: 100%;
	}
	.tvcna-label {
		padding: 4px 15px;
		background-color: @background_color_18;
		color: @color_1;
		position: relative;
		margin-top: -7px;
		&::before {
			width: 0;
			height: 0;
			content: '';
			bottom: 100%;
			left: 11px;
			border-bottom: 12px solid #dd3333;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			position: absolute;
		}
	}
}
.mobileScreen-5544345676867 {
	display: none;
	margin-top: -8px;
}
.timeClock-54536 {
	.wtii-clock-digital {
		font-family: @font_family_1;
		font-weight: normal;
		font-size: 11px;
		li {
			text-shadow: none;
		}
	}
}
.td-ss-row {
	.td-pb-span4 {
		.wpb_raw_code.wpb_content_element.wpb_raw_html {
			margin-bottom: 0;
		}
	}
}
.share_module_block.td-default-sharing.sharemainBox {
	.td-icon-twitter {
		font-size: 14px;
	}
	.td-icon-facebook {
		font-size: 14px;
	}
	.td-social-sharing-buttons {
		font-size: 11px;
	}
}
.share_module_block.td-default-sharing {
	.td-icon-twitter {
		font-size: 15px;
	}
	.td-icon-facebook {
		font-size: 15px;
	}
	position: absolute;
	display: inline-block;
	z-index: 10;
	.td-social-sharing-buttons {
		display: inline-block;
		padding: 3px 12px;
		height: auto;
		margin-right: 0;
		margin-left: 0;
		font-size: 16px;
	}
}
.td-default-sharing.share_module_mx6 {
	bottom: 5px;
	right: 5px;
}
.td-default-sharing.share_module_mx11 {
	bottom: 5px;
	right: 5px;
}
.td-default-sharing.share_module_mx5 {
	bottom: 15px;
	right: 15px;
}
.td-default-sharing.share_module_mx4 {
	top: 55%;
	right: 5px;
}
.td-default-sharing.share_module_m4 {
	top: 204px;
	right: 5px;
}
.td-default-sharing.share_module_m10 {
	top: 62%;
	left: 18%;
}
.td-default-sharing.share_module_mx10 {
	right: 10px;
	top: 10px;
}
.td-default-sharing.share_module_mx9 {
	right: 10px;
	top: 10px;
}
.td-default-sharing.sharemainBox {
	bottom: 21%;
	left: 3%;
	position: relative;
	display: inline-block;
	margin: auto;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}
div.td-default-sharing.share_module_mx6 {
	.td-social-sharing-buttons {
		margin: 4px 0 0;
	}
}
.cNewslist {
	h3 {
		>a {
			color: @color_8;
			&:hover {
				color: @color_9;
			}
		}
	}
}

.wrapSocial {
	width: 100%;
	text-align: center;
	.fb_iframe_widget {
		margin: -10px auto 30px;
	}
}
.td-pb-article-list {
	.td-pb-span8 {
		.td_module_10 {
			&::after {
				width: 100%;
				height: 1px;
				content: '';
				bottom: 22px;
				position: absolute;
				left: 0;
				background-color: @background_color_19;
			}
		}
	}
}
.hmblockw-84351 {
	.td_block_1 {
		padding-bottom: 0;
		.td_module_6 {
			padding-bottom: 21px;
		}
	}
	.td_block_15 {
		padding-bottom: 0;
		margin-bottom: -2px;
		margin-top: -5px;
	}
}
body {
	.td-big-grid-post {
		.td-meta-align {
			pointer-events: auto;
		}
		.td-meta-info-container {
			pointer-events: auto;
		}
	}
}
.without-date {
	.td-module-meta-info {
		display: none;
	}
}
.bgimage {
	background-position: center;
	background-size: cover;
	>img {
		display: none !important;
	}
}
.td-post-sharing-bottom {
	display: none;
}
#facebook {
	span.resp {
		display: none;
	}
}
#twitter {
	span.resp {
		display: none;
	}
}
.td-big-grid-post {
	.td-post-category {
		display: none !important;
	}
}
.img-banner {
	position: absolute;
	width: 138px;
	top: 0;
}
.img-banner.left {
	left: 102.7%;
}
.img-banner.right {
	right: 102.6%;
}
.td-social-whatsapp {
	display: none !important;
}
.title-cna {
	.td-big-grid-meta {
		margin: 10px 15 10px 15px !important;
	}
	.mycExcerpt {
		display: none;
	}
	.td_mod_wrap {
		display: none;
	}
	.block-title {
		margin-bottom: 0px;
	}
}
.title2-cna {
	.td-meta-info-container {
		padding: 4px 0;
	}
}
.td_block_wrap {
	.td-big-grid-wrapper {
		.td-big-grid-scroll {
			.td-big-grid-post-3 {
				max-width: 49%;
			}
			.td-big-grid-post-2 {
				max-width: 49%;
			}
		}
	}
}
@media (max-width: 600px) {
	.smallCustomBlock.td-big-grid-post {
		padding-top: 0;
	}
	.td-additional-fields-responsive-684654 {
		>.wpb_column {
			>.wpb_wrapper {
				>div {
					&:nth-of-type(11) {
						.td_module_6 {
							.td-module-thumb {
								width: 100%;
								display: block;
								width: 100%;
								position: relative;
								left: 0;
							}
							.item-details {
								margin-left: 0;
								padding-left: 12px;
								padding-right: 12px;
								min-height: initial;
								margin-top: 23px;
							}
							.entry-title {
								font-size: 21px;
								line-height: 25px;
								font-weight: normal;
							}
						}
						.td_module_4 {
							.td-post-category {
								display: none;
							}
						}
					}
				}
				.bgimage {
					position: relative;
					display: block;
					height: auto !important;
					&:before {
						content: '';
						display: block;
						width: 100%;
						padding-bottom: 100%;
					}
				}
			}
		}
	}
	body {
		&:not(.home) {
			.td-main-sidebar {
				.td-ss-main-sidebar {
					>div {
						&:nth-of-type(4) {
							display: none !important;
						}
						&:nth-of-type(6) {
							display: none !important;
						}
						&:nth-of-type(7) {
							display: none !important;
						}
						&:nth-of-type(8) {
							display: none !important;
						}
						&:nth-of-type(9) {
							display: none !important;
						}
					}
				}
			}
		}
	}
	.remove-thisWidImp-25151 {
		display: none !important;
	}
	.home {
		.td-pb-row.move-out {
			div.td_module_10 {
				img {
					max-height: 200px;
				}
			}
		}
	}
	.td-page-content {
		p {
			font-size: 18px;
			line-height: 26px;
		}
		li {
			font-size: 18px;
			line-height: 26px;
		}
	}
	.td-post-content {
		p {
			font-size: 18px;
			line-height: 26px;
		}
		li {
			font-size: 18px;
			line-height: 26px;
		}
	}
	.wpb_text_column {
		p {
			font-size: 18px;
			line-height: 26px;
		}
		li {
			font-size: 18px;
			line-height: 26px;
		}
	}
	.td_block_text_with_title {
		p {
			font-size: 18px;
			line-height: 26px;
		}
		li {
			font-size: 18px;
			line-height: 26px;
		}
	}
	.woocommerce {
		#tab-description {
			p {
				font-size: 18px;
				line-height: 26px;
			}
			li {
				font-size: 18px;
				line-height: 26px;
			}
		}
	}
	.mce-content-body {
		p {
			font-size: 18px;
			line-height: 26px;
		}
		li {
			font-size: 18px;
			line-height: 26px;
		}
	}
}
@media (max-width: 767px) {
	.smallGrid2Gallery.td_module_mx10.td-small-thumb {
		&:first-child {
			.td-module-thumb {
				img {
					width: 100% !important;
					height: auto !important;
					margin-left: 0 !important;
				}
				height: auto !important;
			}
		}
		.td-module-thumb {
			height: 236px !important;
		}
	}
	.td_block_big_grid_2 {
		.bigGrid2Gallery.td-big-thumb {
			.td-module-thumb {
				height: auto !important;
			}
		}
	}
	.td-customField22324345454.td-pb-row {
		[class*="td-pb-span"] {
			display: inline-block;
			width: 29%;
		}
	}
	.whatsappBlock-2343242642 {
		font-size: 26px;
		.number {
			margin: 6% 0 4%;
		}
	}
	.td_block_big_grid_3 {
		.td-big-thumb.bigCustomBlock {
			width: 97%;
			float: none;
			margin-left: auto;
			margin-right: auto;
			display: none;
		}
		.bigCustomBlock.td-big-thumb {
			.td-module-thumb {
				height: auto !important;
			}
		}
	}
	.td-big-grid-scroll {
		width: 99%;
		float: none;
		white-space: initial !important;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.td_mycBlock_3432434539 {
		.td_block_big_grid_3 {
			.td-medium-thumb {
				.td-module-thumb {
					height: auto !important;
				}
			}
			.td-small-thumb {
				div.td-module-thumb {
					height: 170px !important;
				}
			}
		}
		.td-grid-style-1 {
			.td-small-thumb {
				img {
					width: 100%;
					height: auto;
					margin-left: auto;
				}
				div.entry-title {
					font-size: 20px;
				}
			}
			.td-medium-thumb {
				img {
					width: 100%;
					height: auto;
					margin-left: auto;
				}
			}
		}
	}
	.td_block_wrap {
		.td-big-grid-wrapper {
			.td-big-grid-scroll {
				.td-big-grid-post {
					text-align: left;
				}
				.td-big-grid-post.smallGrid2Gallery {
					display: inline-block;
					width: 48.5%;
					&:first-child {
						width: 98%;
						display: block;
						margin-left: auto;
						margin-right: auto;
						float: none;
						margin-bottom: 10px;
					}
					&:last-child {
						margin-left: 7px;
						margin-right: 3px;
					}
				}
			}
		}
	}
	.customGrid2Gallery {
		.td-pb-span12 {
			.td_block_big_grid_2 {
				.td-big-grid-wrapper {
					.td-big-grid-scroll {
						width: auto;
						float: none;
					}
				}
			}
		}
	}
	.bigGrid2Gallery.td_module_mx9 {
		float: none;
		width: 97.45%;
		margin-left: 11px;
		margin-right: auto;
		display: block;
		margin-top: 10px;
		img {
			height: auto;
			width: 100%;
			margin-left: auto;
		}
	}
	.headerBlock15-25615 {
		.td_block_15 {
			.td-column-3 {
				.td-block-row {
					.td-block-span4 {
						width: 50%;
					}
				}
			}
		}
	}
	body {
		div.lastNews.td-main-content-wrap {
			li {
				width: 49.5%;
				font-size: 14px;
				margin-top: 1px;
				&:nth-child(3) {
					margin-left: 0;
				}
				&:last-child {
					display: block;
				}
			}
			a {
				border-top: 1px solid #ffffff;
			}
		}
	}
	.title-cna {
		.td-big-grid-scroll {
			display: flex;
			flex-wrap: wrap;
			width: 96%;
			.td-big-grid-post-1 {
				width: 55%;
				.td-module-thumb {
					a {
						width: 100%;
						height: 100%;
						img {
							position: absolute;
							height: 100%;
							top: 0;
							bottom: 0;
							margin: left:0;
							right: 0;
						}
					}
				}
			}
			.td-big-grid-post-2 {
				width: 44%;
				display: flex !important;
				flex-wrap: wrap;
				margin-top: 0;
				margin-left: 0.9%;
				.td-meta-info-container {
					order: 2;
					width: 100%;
				}
				.td-module-thumb {
					order: 1;
				}
			}
			.td-big-grid-post-3 {
				max-width: 100% !important;
				width: 100%;
				margin-left: 0;
				.td-module-thumb {
					a {
						width: 100%;
						height: 100%;
						img {
							position: absolute;
							top: 0;
							bottom: 0;
							margin: auto;
						}
					}
				}
			}
		}
	}
	.td-additional-fields-responsive-684654 {
		display: none;
	}
	.lastNews.td-main-content-wrap {
		width: 96%;
		margin: auto;
		margin-bottom: 20px;
	}
	.td-pb-article-list {
		.td-pb-span8 {
			.td_module_10 {
				&::after {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 440px) {
	.smallGrid2Gallery.td_module_mx10 {
		&:first-child {
			.module_excerpt {
				display: none;
			}
		}
	}
	.smallGrid2Gallery.td_module_mx10.td-small-thumb {
		&:first-child {
			.entry-title.td-module-title {
				font-size: 16px !important;
				line-height: 21px !important;
			}
		}
	}
}
@media (max-width: 1125px) {
	.whatsappBlock-2343242642 {
		font-size: 14px;
		font-size: 11px;
	}
	.td-pb-span4 {
		.widget_what_time_is_it {
			font-size: 12px;
		}
	}
	#tdblock-3333434543543 {
		.inlineDolar {
			width: 48%;
			font-size: 19px;
		}
	}
}
@media (max-width: 1020px) {
	div.lastNews.td-main-content-wrap {
		li {
			width: 33%;
			font-size: 13px;
			line-height: 20px;
			&:last-child {
				display: none;
			}
		}
	}
	.banSections-2343857435 {
		display: none;
	}
}
@media (max-width: 800px) {
	div.thisCSubtitle {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}
@media (max-width: 635px) {
	.td-customField22324345454.td-pb-row {
		text-align: center;
		[class*="td-pb-span"] {
			display: inline-block;
			width: 46%;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.whatsappBlock-2343242642 {
		font-size: 17px;
		.number {
			margin: 6% 0 4%;
		}
	}
}
@media (max-width: 500px) {
	body {
		div.td-main-content-wrap {
			div.lastNews.td-main-content-wrap {
				li {
					font-size: 14px;
					line-height: 16px;
					width: 100%;
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
		.td-main-content-wrap {
			div.lastNews.td-main-content-wrap {
				a {
					min-height: 90px;
				}
			}
		}
	}
	.headerBlock15-25615 {
		div.td_block_15 {
			.td-column-3 {
				.td-block-row {
					.td-block-span4 {
						width: 100%;
					}
				}
			}
		}
	}
}
@media (max-width: 585px) {
	body {
		.td-main-content-wrap {
			div.lastNews.td-main-content-wrap {
				li {
					width: 49.5%;
					font-size: 14px;
				}
			}
		}
	}
}
@media (max-width: 460px) {
	div.thisCSubtitle {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.td_mycBlock_3432434539 {
		.td_block_big_grid_3 {
			.td-medium-thumb {
				.td-module-thumb {
					height: 180px !important;
				}
			}
		}
	}
	.td_block_wrap {
		.td-big-grid-wrapper {
			.td-big-grid-scroll {
				.td-big-grid-post.smallGrid2Gallery {
					display: block;
					width: 98%;
					margin-left: auto;
					margin-right: auto;
					&:last-child {
						display: block;
						width: 98%;
						margin-left: auto;
						margin-right: auto;
						margin-top: 10px;
					}
				}
			}
		}
	}
}
@media (max-width: 417px) {
	.td-customField22324345454.td-pb-row {
		[class*="td-pb-span"] {
			display: inline-block;
			width: 100%;
			margin: 0 1.5% 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.whatsappBlock-2343242642 {
		font-size: 13px;
		.icon {
			width: 23.2%;
			padding-bottom: 23.896%;
		}
		.text.biLine {
			width: 74.92%;
		}
	}
	.vc_custom_1455569862746 {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
}
@media (max-width: 1139px) {
	.td_block_big_grid_3 {
		.bigCustomBlock.td-big-thumb {
			div.td-module-thumb {
				height: 398px;
			}
		}
	}
}
@media (max-width: 1017px) {
	.td_block_big_grid_3 {
		.bigCustomBlock.td-big-thumb {
			div.td-module-thumb {
				height: 398px;
			}
		}
	}
	.td_mycBlock_3432434539 {
		.td-grid-style-1 {
			.td-small-thumb {
				div.entry-title {
					font-size: 18px;
				}
			}
		}
		.td_block_big_grid_3 {
			.td-small-thumb {
				div.td-module-thumb {
					height: 127px;
				}
			}
		}
	}
}
@media (min-width: 1080px) {
	div.td-header-menu-wrap.td-affix {
		width: 1068px;
	}
}
@media (min-width: 601px) {
	.remove-thisImp-25151 {
		display: none;
	}
}
@media (max-width:400px) {
	.td-post-content {
		p {
			font-size: 20px;
			line-height: 25px;
		}
	}
}
@media (max-width:600px) {
	.td-row-hide-resp-498451 {
		display: block;
	}
	.vc_row.wpb_row.td-pb-row.customGrid2Gallery.td-row-hide-resp-498451 {
		display: none;
	}
	.headerBlock15-25615 {
		>.wpb_wrapper {
			>.wpb_text_column {
				margin-bottom: 20px;
			}
		}
	}
	#facebook {
		span {
			display: none;
		}
		span.resp {
			display: block;
		}
	}
	#twitter {
		span {
			display: none;
		}
		span.resp {
			display: block;
		}
	}
}
@media (max-width:992px) {
	.img-banner {
		display: none;
	}
	#facebook-cna {
		display: none;
	}
	.title-cna {
		padding-top: 20px;
	}
}
// * { outline: 1px solid rgba(0, 250, 0, 0.35)}
/******************************************************
*             END - CUSTOM STYLE - CNA
******************************************************/