@color_1: #ffffff;
@color_2: #2b2b2b;
@color_3: #000;
@color_4: #404040;
@color_5: #4a4949;
@color_6: #7c7c7c;
@color_7: #d33;
@color_8: #dd3333;
@color_9: #111111;
@color_instagram: #e1306e;
@font_family_1: Verdana, Geneva, sans-serif;
@background_color_1: #ffffff;
@background_color_2: #ba1414;
@background_color_3: #700c0c;
@background_color_4: #ddd;
@background_color_5: #000000;
@background_color_6: #F3F0F0;
@background_color_7: #dbdbdb;
@background_color_8: rgba(0,0,0,.03);
@background_color_9: #dadada;
@background_color_10: #d33;
@background_color_11: #009b3a;
@background_color_12: #DD3333;
@background_color_13: #b60000;
@background_color_14: #c60000;
@background_color_15: #ce0000;
@background_color_16: #dc0000;
@background_color_17: #ec0000;
@background_color_18: #dd3333;
@background_color_19: #CDCDCD;
@background_color_20: #e9e9e9;

@font1:'Open Sans', arial, sans-serif;
@font2: Verdana, Geneva, sans-serif;
@font3:'Roboto', sans-serif;
@font4:'newspaper', sans-serif;

/******************************************************
*                  CUSTOM STYLE - CNA
******************************************************/

/* TYPOGRAPHY */
body,
p {
  font-family: @font1;
}
.wp-caption-text,
.wp-caption-dd {
  font-family: @font1;
}
.td-page-content .dropcap,
.td-post-content .dropcap,
.wpb_text_column .dropcap,
.td_block_text_with_title .dropcap,
.bbpress .dropcap,
.woocommerce #tab-description .dropcap,
.mce-content-body .dropcap,
.comment-content .dropcap {
  font-family: @font1;
}
.td_top_authors .td-authors-url a {
	font-family: @font1;
}

#td-theme-settings {
	font-family: @font1;
}
.td_wrapper_video_playlist .td_video_title_playing {
	font-family: @font1;
}  
.td-sml-caption {
	font-family: @font1;
}
#bbpress-forums .bbp-topic-header .bbp-meta .bbp-topic-permalink {
	font-family: @font1;
}



/********************************** 
*		VC CLASES
***********************************/

.no-pd-column-inner  {
	.vc_column_container >.vc_column-inner {
		padding-left: 0;
		padding-right: 0;
	}
}
.section-cna-vivo {
	div.td_block_text_with_title {
		padding-bottom: 0;
	}
}
.section-destacados {
	div.td_block_text_with_title {
		padding-bottom: 0;
	}
}
/* MAGAZINE - Custom Grid2 Gallery  */
.customGrid2Gallery {
	.td_block_text_with_title {
		padding-bottom: 0;
		margin-bottom: -26px;
	}
	.td-pb-span12 {
		.td_block_big_grid_2 {
			.td-big-grid-wrapper {
				.td-big-grid-scroll {
					float: left;
					width: 61.5%;
				}
			}
		}
	}
	@media (max-width: 767px) {	
		.td-pb-span12 {
			.td_block_big_grid_2 {
				.td-big-grid-wrapper {
					.td-big-grid-scroll {
						width: auto;
						float: none;
					}
				}
			}
		}
	}
}


/*
* TEMPLATES 
*/

/* Header */
.td-header-wrap {
	.top-bar-style-2 {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background-image: url(images/custom/nuevologocna-header.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			top: 17px;
			right: 0;
			bottom: 0;
			left: 0;
			width: 16%;
			padding-bottom: 16.21%;
			margin: auto;
		}
		.thisCNATVWrap {
			margin-top: 10px;
		}
		.thisCNATV {
			background-image: url(images/custom/cna-envivonuevo.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 70%;
			padding-bottom: 73.5%;
			margin-left: 17%;
		}
	}
	div.td-header-top-menu-full {
		border-top: 2px solid #232121;
		border-bottom: 2px solid #232121;
		margin-bottom: 10px;
	}
}

// Weather 
.td-details-weather {
	.thisCNATVWrap {
		margin-top: 10px;
		.thisCNATV {
			background-image: url(images/custom/cna-envivonuevo.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 70%;
			padding-bottom: 73.5%;
			margin-left: 17%;
		}
	}
}
// Top Bar 2
.top-bar-style-2 {
	.td-header-sp-top-menu {
		text-align: right;
	}
}
// Header top Menu
div.td-header-top-menu-full {
	.td-header-row {
		[class="td-header-sp-top-widget"] {
			text-align: left;
			margin-top: 25px;
			margin-left: 15px;
		}
	}
}
.td-header-row {
	[class="td-header-sp-top-widget"] {
		.textSub {
			padding-left: 10px;
		}
	}
}
.td-header-top-menu-full {
	.td-header-row {
		[class*="td-header-sp"] {
			margin: 26px 0 24px;
			margin-right: 20px;
		}
	}
}
// Separator of Menu
.menu-separator {
	margin: 11px 0 0;
    border-top: 2px solid #232121;
}


/* Category Template CNA */

.td_category_template_cna .td-category-header {
    padding-bottom: 18px;
}

/* Last News */
.lastNews.td-main-content-wrap {
	padding-bottom: 0;
	overflow: hidden;
	margin-bottom: 26px;
	li {
		float: left;
		width: 24.6%;
		min-height: 155px;
		max-height: 155px;
		position: relative;
		margin: 0 0 0 .5%;
		padding: 0 16px 0 50px;
		display: list-item;
		&:first-child {
			margin-left: 0;
			background-color: @background_color_13;
		}
		&:last-child {
			margin-right: 0;
			background-color: @background_color_17;
			
		}
		&:nth-child(2) {
			background-color: @background_color_14;
			
		}
		&:nth-child(3) {
			background-color: @background_color_15;
			
		}
		&:nth-child(4) {
			background-color: @background_color_16;
			
		}
		&::before {
			content: counter(my-lastnews-counter);
			counter-increment: my-lastnews-counter;
			position: absolute;
			// transform: translateY(-50%);
			top: 42px;
			left: 15px;
			font-size: 42px;
			color: @color_1;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		counter-reset: my-lastnews-counter;
		list-style: none;
	}
	a {
		display: block;
		width: 100%;
		height: 88px;
		color: @color_1;
		margin-top: 35px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		// padding: 35px 15px 15px 0px;
		font-size: 17px;
		line-height: 22px;
		overflow: hidden;
	}
	.lnTitle {
		font-weight: bold;
		font-size: 18px;
	}
}




/********************************** 
* 			POST STYLE 
**********************************/

// Title
.td-post-title {
	margin-bottom: 40px;
	@media (max-width: 767px) {
		margin-bottom: 26px;
	}
	.entry-title {
		font-weight: 600;
	}
}
// Subtitle
.td-post-sub-title {
	font-size: 20px;
	line-height: 1.4;
	margin: 12px 0 20px;
	font-weight: 400;
	color: #666;
	font-style: normal;
}
// Post content
.td-post-content,
.td-page-content, 
.wpb_text_column, 
.td_block_text_with_title, 
.woocommerce #tab-description, 
.td-post-content p,
.td-page-content p, 
.wpb_text_column p, 
.td_block_text_with_title p, 
.woocommerce #tab-description p, 
.mce-content-body p, 
.td-page-content li, 
.td-post-content li, 
.wpb_text_column li, 
.td_block_text_with_title li, 
.woocommerce #tab-description li, 
.mce-content-body li{
	font-size: 18px;
	line-height: 1.625;

	@media (max-width: 767px) {
		font-size: 20px;
		line-height: 1.25;
	}
}
.td-page-content,
.td-post-content,
.wpb_text_column,
.td_block_text_with_title,
.bbpress,
.woocommerce #tab-description,
.mce-content-body,
.comment-content {
	blockquote p {
		font-size: 21px;
		line-height: 1.4;
		text-transform: none;
	}
}
// Featured Image
.td-post-featured-image {
	img {
		width: 100% !important;
	}
}
// Meta  info
.td-module-meta-info{
	font-size: 14px;
	.td-post-author-name {
		color: @color_6;	
		> a {
			color: inherit;
		}	
		&::first-letter {
			text-transform: uppercase;
		}
	}
	.td-post-date {
		color: @color_6;
	}
}

// Fuentes
.td-post-source-tags {
	.td-post-small-box {
		a[href="#"]{
			cursor: default;
			pointer-events: none;
			&:hover {
				color: initial;
				background-color: initial;
				border-color: #ededed;
			}
		}
	}
}

// Author Box: no display
.author-box-wrap {
	display: none !important;
}

/* Post template CNA */
div[class*="post-template-cna"] {
	.td-crumb-container {
		margin-bottom: 20px;
	}
	
	.td-post-sharing {
		text-align: center;
		.td-social-sharing-buttons {
			margin-right: 0px;
		}
		&.td-post-sharing-top {
			margin-bottom: 20px;
		}
	}
	.td-module-meta-info {
		margin: -7px 0 26px;
		font-size: 13px;
		> [class^="td"] {
			display: block;
			margin-bottom: 2px;
		}
		.td-post-author-name {
			font-size: 16px;
			> a {
				color: @color_6;
			}
		}
	}
	
}
/* Post Template CNA 1 */
.post-template-cna-1  {
	.td-post-featured-image {
		margin-bottom: 30px;
	}
	.sidebar-post-cna  {
		margin-top: 66px;
	}
}

/* Post Template CNA 2 */
.post-template-cna-2  {
	.td-post-header{
		background-color: @background_color_6;
		padding: 30px;
		margin-bottom: 40px;
		@media (max-width: 640px) {
			padding: 15px;
		}
		@media (max-width: 480px) {
			padding: 10px;			
		}
		.td-post-title {
			margin-bottom: 20px;
		}
		.td-post-sub-title {
			margin-top: 25px;
		}
		.td-post-sharing {
			text-align: left; 
		}
		.td-post-sharing-top  {
			margin-top: 32px;
			margin-bottom: 0 !important;
		}
	}
	.wrapper-feature {
		margin-bottom: 26px;
	}
}

/* 
* WIDGETS 
*/

/* SOCIAL NETWORK */
.td-social-icon-wrap i.td-icon-instagram:hover {
	color: @color_instagram !important;
}
/* SOCIAL COUNTER */
.td_social_instagram {
	background-color: @color_instagram !important;
}
/* WP-POLLS */
.wp-polls  {
	margin-top: 10px;
	&:first-child {
		margin-top: 0px;
	}
	> p {
		font-size: 16px !important;
	}
	.pollTitle {
		line-height: 1.425;
	}
}
/* APP CNA */
.wrapper_app_cna {
	font-size: 15px;
	line-height: 1.5;
	text-align: justify;
	.app_info {
		padding: 0 5px;
		margin-bottom: 13px;
	}
	.wrapper_app_img {
		display: inline-block;
		-webkit-transition: all ease-in-out 300ms;
		transition: all ease-in-out 300ms;
		&::after  {
			-webkit-transition: all ease-in-out 300ms;
			transition: all ease-in-out 300ms;
		}
		&.in-construction:hover {
			position: relative;
			&::after {
				content: "EN CONSTRUCCIÓN";
				display: block;
				width: 100%;
				height: 100%;
				background-color: white;
				color: #555555;
				font-size: 16px;
				font-weight: 600;
				padding-top: 22px;
				position: absolute;
				left: 0;
				top: 0;
				text-align: center;
				opacity: 0.9;
			}
		}
	}

}

/********************************** 
*			DIV BLOCKS 
***********************************/

/* Header Style 6 - CNA */
.td-header-cna {
	&.td-header-style-6 {
		max-width: initial;
	}
	+ .td-main-content-wrap {
		padding-top: 0;
	}
}
/* Header Block Top */
.headerBlockTop{
	margin-top: 24px;
	.td_block_15 {
		.td-column-3{
		 	.td-block-row {
				//  margin-right: 0; //Cuando las imagenes no tienen margenes de separacion
				padding: 0 22px;
				.td-block-span4 {
					width: 25%;
				}
			}
			//Para efecto hover
			.td_module_wrap:hover {
				.entry-title {
					border-color: @color_8;
				}
			}
			.td-module-thumb {
				height: 334px;
				overflow: hidden;
				position: relative;
			} 
			.entry-thumb {
				height: 100%;
				width: auto;
				max-width: initial;
				-webkit-transform: translate(-50%,-50%);
				        transform: translate(-50%,-50%);
				position: absolute;
				left: 50%;
				top: 50%;
			}
			.entry-title {
				font-size: 18px;
				line-height: 1.25;
				// font-weight: 600;
				// padding: 0 16px;
				color: @color_4;
				padding-bottom: 16px;
				border-bottom: 1px solid @color_2;
				
				a {
					display: inline-block;
					position: relative;
					height: 44px;
					overflow: hidden;
					//Truncate
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;  
					text-overflow: ellipsis;

				}
			}
		} 
	}
}
/* Trending bar */
.td-block-row {
	> .td-trending-now-wrapper {
		@media (min-width: 768px) {
			margin: 0 14px;
		}
		@media (min-width: 1019px) {
			margin: 0 20px;
		}
		@media (min-width: 1141px) {
			margin: 0 24px;
		}
	}
	
}
.td-trending-now-wrapper {
	@media screen and (max-width: 767px) {
		height: 90px;
	}
	padding: 0px;
	height: 40px;
	background-color: @background_color_20;
	overflow: hidden;
	&.trending-now-header {
		margin-bottom: 24px;
	}
	.td-trending-now-title {
		width: 35%;
		height: 40px;
		line-height: 39px;
		font-size: 20px;
		text-align: right;
		@media screen and (max-width: 767px) {
			width: 100%;
    		text-align: center;
		}
	}
	.td-trending-now-display-area {
		@media screen and (max-width: 767px) {
			display: block;
			height: 26px;
			position: relative;
			top: 10px;
		}
	}
	.td-trending-now-post {
		@media screen and (max-width: 767px) {
			width: 100%;
			padding: 0 15px;
			text-align: center;		
		}
		width: 60%;
		height: 40px;
		padding-top: 6px;
		padding-right: 0;
		.entry-title {
			text-transform: none;
			font-size: 16px;
			white-space: nowrap;
			overflow: hidden;
  			text-overflow: ellipsis;
		}
		
	}
	.td-next-prev-wrap {
		display: none;
	}
}

/********************************** 
*			CUSTOM GRIDS 
***********************************/
// El anterior desarrollador modifico los archivo "td_module_mx5.php"
// Sobreescribio de forma incorrecta los estilos para BIg Grid 1,3,4,6
// Se ha corregido esta deficiencia

/* Excerpt */
// Elemento agregado que no tiene estilo en el tema
.myExcerpt {
	display: none;
	width: 90%;
	margin: 3px 0;
	color: white;
	font-size: small;
	//Truncate
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Sharing - Social Media */
.td_module_mx6,
.td_module_mx10  {
	.td-default-sharing {
		display: none !important;
	}
}
/**/
.td-big-grid-post .td-meta-align {
    pointer-events: auto;
}

/* Block Big Grid - Style 1 - CNA */
// Modifica los estilos por defecto de acuerdo a las necesidades del tema para CNA
// Es el único estilo que tendra estas modificaciones.
//
.td-grid-style-1 {
	.td-big-thumb {
		.td-big-grid-meta {
			margin-bottom: 20px;
		}
	}	
	.myExcerpt {
		display: block;
	}
	/* Block Grid 2*/
	&.td_block_big_grid_2 {
		.td-big-grid-post {
			.td-meta-info-container {
				background-color: @background_color_18;
				position: relative;
			}
		}
		.bigGrid2Gallery {
			float: right;
			width: 37%;
			// Fix bug
			~ .bigGrid2Gallery {
				display: none;
			}
			.td-module-thumb {
			    height: 720px !important;				
			}
			img {
				height: 100%;
				width: auto;
				margin-left: -25%;
			}
			.entry-title {
				font-size: 20px;
				line-height: 1.1;
				margin: 20px 0;
				//Truncate
				height: 66px;
				overflow: hidden;
				//Elipsis
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical; 
			}
			@media (max-width: 767px) {
				float: none;
				width: 97.45%;
				margin-left: 11px;
				margin-right: auto;
				display: block;
				margin-top: 10px;
				img {
					height: auto;
					width: 100%;
					margin-left: auto;
				}
			}
		}
		
		.smallGrid2Gallery{
			float: left;
			width: 48.5%;
			.myExcerpt {
				display: none;
			}
			&:first-child {
				width: 100%;
				margin-bottom: 15px;
				.td-module-thumb {
					width: 100%;
					height: 380px;
				}
				img {
					width: auto;
					height: 100%;
					margin-top: 0;
				}
				.td-big-grid-meta {
					padding-top: 20px;
				}
				.entry-title {
					font-size: 28px;
					line-height: 1;
					height: 60px;
					overflow: hidden;
					//Elipsis
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical; 
				}
				.myExcerpt {
					display: block;
					white-space: initial;
					font-size: 16px;
					font-weight: 600;
					height: 45px;
					color: @color_1;
					margin-top: 16px;
					margin-bottom: 5px;
					overflow: hidden;
					//Elipsis
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical; 
				}
			}
			&:last-child {
				float: right;
			}
			
			.td-module-thumb {
				width: 100%;
				height: 184px;
				// height: auto;
			}
			img {
				width: auto;
				max-width: initial;
				height: 100%;
				// height: auto;
			}
			.td-big-grid-meta {
				padding: 15px 0;
			}
			.entry-title {
				font-size: 20px;
				line-height: 1.1;
				color: white;
				margin: 0px 0px 5px;
				//Truncate
				height: 44px;
				overflow: hidden;
				//Elipsis
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical; 
			}
		}
		
		//Sharing
		.td-default-sharing {
			display: inline-block !important;
		}

	}
	/* Block Big Grid  3*/
	&.td_block_big_grid_3 {
		.td-big-grid-post:hover {
			.td-post-category {
				background-color: #222 !important;
			}
		}
		.bigCustomBlock {
			width: 62%;
			// background-color: @background_color_12;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			.td-module-thumb {
				width: 100%;
				margin-top: 210px;
			}
			.entry-thumb { //img
				width: 100%;																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												
			}
			.td-meta-info-container {
				background-color: white;
				top: 0;
				bottom: auto;
				color: @color_2;
			}
			.td-post-category {
				margin-bottom: 15px;
			}
			.td-big-grid-meta {
				width: auto;
				margin: 0;
				.entry-title {
					width: 98%;
					font-size: 36px;
					line-height: 1.1;
					margin-bottom: 20px;
					a {
						color: @color_2;
						text-shadow: none;
						&:hover {
							color: @color_7;
						}
					}
				}
				.myExcerpt {
					width: 99%;
					color: @color_4;
					white-space: inherit;
					font-size: 16px;
					line-height: 1.4;
					margin-bottom: 20px;
				}
			}	
			.td-meta-align {
				pointer-events: auto;
			}
			.td-module-meta-info {
				display: none;
			}
			
			
			/* Responsive big custom Block */
			@media (max-width: 767px) {
				width: 97%;
				float: none;
				margin-left: auto;
				margin-right: auto;
				display: none;
				.td-module-thumb {
					height: auto !important;
				}
			}
			@media (max-width: 1139px) {
				.td-module-thumb {
					height: 398px;
				}
			}
			@media (max-width: 1017px)  {
				td-module-thumb {
					height: 398px;
				}
			}
		}
		.td-big-grid-scroll {
			width: 37%;
			float: right;
			position: relative;
			.td-big-grid-post {
				width: 49%; // Small Thumb
				&:first-child { // Medium Thumb
					width: 99%;
				}
				.td-meta-info-container {
					background-color: @color_7;
					top: 0;
					bottom: auto;
				}
				.td-big-grid-meta {
					margin: 15px 15px;
					
				}
				.entry-title {
					margin: 0;
					font-size: 18px;
					//Truncate
					height: 63px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;  
					text-overflow: ellipsis;
				}
				.td-meta-align {
					pointer-events: auto;
				}
				.td-module-thumb {
					margin-top: 119px;
				}
			}
		}
		.td-medium-thumb {
			.td-module-thumb {
			    height: 247px;
			}
			.entry-title {
				line-height: 23px;
				//Truncate
				// height: 47px;
				// overflow: hidden;
				// display: -webkit-box;
				// -webkit-line-clamp: 2;
				// -webkit-box-orient: vertical;  
				// text-overflow: ellipsis;
			}
		}
		.td-small-thumb {
			.td-module-thumb {
				height: 184px;
			}
		}
		
		//Sharing
		.td-default-sharing {
			display: inline-block !important;
		}
	}
	
}






.fullimageSize-458798 {
	img {
		margin-bottom: 10px;
		width: 100%;
	}
}
div.td_block_text_with_title {
	padding-bottom: 27px;
}
.td_block_it837003251 {
	.td_mod_wrap {
		display: none;
	}
	.td_block_text_with_title {
		padding-bottom: 0;
	}
}
div.td_block_it837003251 {
	>.vc_column-inner {
		padding-left: 0;
		padding-right: 0;
	}
}
.td_block_id_2843564852 {
	.td_mod_wrap {
		>div {
			&:first-of-type {
				font-size: 12px;
				margin-bottom: 5px;
			}
		}
	}
}
.td_block_id_2828365501 {
	.td_mod_wrap {
		>div {
			&:first-of-type {
				font-size: 12px;
				margin-bottom: 5px;
			}
		}
	}
}
div.td-footer-wrapper {
	padding: 5px 0 0;
	max-width: 1068px;
	margin: 0 auto;
	a {
		color: @color_1;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	img {
		display: block;
		margin: 0 auto;
		width: 12%;
		height: auto;
	}
}
div.footer-logo-wrap {
	margin-bottom: 10px;
	margin-top: 5px;
}
div.footer-email-wrap {
	padding-top: 5px;
}
div.td-footer-template-4 {
	.td-footer-info {
		margin-bottom: 26px;
	}
}
.wpcna-sidebar-poll {
	padding: 10px 10px 10px;
	background-image: url(images/trama_square.jpg);
}
.wp-polls {
	background-color: @background_color_1;
	padding: 15px 8px 5px;
	border: none;
	position: relative;
	>p {
		font-size: 15px;
	}
	a[href^="#ViewPoll"] {
		color: @color_2;
		display: block;
		padding: 5px;
		text-decoration: none;
		transition: all .20s;
		-moz-transition: all .20s;
		-webkit-transition: all .20s;
		font-weight: bold;
		font-size: 14px;
		&:hover {
			text-decoration: underline;
		}
	}
	input.Buttons {
		padding: 6px 20px;
		color: @color_1;
		border: none;
		text-transform: uppercase;
		transition: all .20s;
		-moz-transition: all .20s;
		-webkit-transition: all .20s;
		text-decoration: none;
		background-color: @background_color_2;
		width: 70%;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		&:hover {
			background-color: @background_color_3;
		}
	}
	a[href^="#VotePoll"] {
		padding: 6px 20px;
		color: @color_1;
		border: none;
		text-transform: uppercase;
		transition: all .20s;
		-moz-transition: all .20s;
		-webkit-transition: all .20s;
		text-decoration: none;
		background-color: @background_color_2;
		width: 70%;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		margin-bottom: 15px;
		display: inline-block;
		&:hover {
			background-color: @background_color_3;
		}
	}
	.pollLogo {
		width: 90px;
		position: absolute;
		top: -45px;
		left: 0;
		right: 0;
		margin: auto;
		img {
			margin: 0;
			display: block;
		}
	}
	.wp-polls-ans {
		>p {
			&:first-of-type {
				display: none;
			}
		}
		.wp-custom-cna-polls-ans {
			li {
				position: relative;
				background-color: @background_color_4;
				background-image: url(images/barprogress_bg.jpg);
				background-repeat: repeat-x;
				height: 30px;
				margin: 15px auto !important;
				&:first-child {
					margin-top: 7px !important;
				}
				&:last-child {
					margin-bottom: 7px !important;
				}
				&:nth-child(2n) {
					.pollbar {
						background: #f0a3a3;
					}
				}
			}
			.pollbar {
				height: 100%;
				border: none;
				position: absolute;
				left: 0;
				top: 0;
				background: #cdf3a6;
				text-align: right;
				font-size: 14px;
				line-height: 30px;
				margin: 0;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
			.answer-label {
				position: absolute;
				width: 100%;
				text-align: right;
				white-space: nowrap;
				padding-left: 7px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				color: @color_2;
				span {
					color: @color_3;
				}
			}
		}
	}
	.wp-polls-form {
		.wp-polls-ans {
			ul {
				margin: 10px auto 15px;
			}
			>p {
				&:first-of-type {
					display: block;
					margin-bottom: 5px;
				}
			}
		}
	}
	h4.pollTitle {
		font-weight: bold;
		text-align: center;
		margin-top: 0;
	}
	.pollTitle {
		margin: 10px 15px 0;
		padding-bottom: 5px;
		line-height: 20px;
		strong {
			font-weight: normal;
			font-size: 18px;
		}
	}
	.wp-polls-loading {
		position: absolute;
		left: 0;
		right: 0;
		top: 20px;
		margin: auto;
	}
}
.wp-polls.results-type {
	.pollLogo {
		display: none;
	}
	a[href="#VotePoll"] {
		display: none;
	}
	margin-top: 10px;
	h4.pollTitle {
		font-size: 17px;
		margin-top: 2px;
		font-weight: bold;
		padding-bottom: 0;
	}
	.wp-custom-cna-polls-ans {
		margin-bottom: 16px;
	}
}
.td_block_text_with_title {
	.wp-polls {
		li {
			margin: 7px auto;
			text-align: left;
			width: 15%;
			position: relative;
			font-weight: bold;
			line-height: 20px;
			input {
				position: absolute;
				width: 13px;
				height: 13px;
				margin: auto;
				left: -20px;
				top: 4px;
			}
		}
		.wp-polls-ans {
			li {
				margin: 7px auto;
				text-align: left;
				width: 15%;
				position: relative;
				font-weight: bold;
				line-height: 20px;
				input {
					position: absolute;
					width: 13px;
					height: 13px;
					margin: auto;
					left: -20px;
					top: 4px;
				}
			}
		}
		.wp-polls-ans.wp-polls-stad {
			li {
				width: 84%;
			}
		}
	}
}

.td-customField22324345454.td-pb-row {
	margin-left: -10px;
	margin-right: -10px;
	[class*="td-pb-span"] {
		padding: 20px 20px 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #999999;
		margin: 0 1.5%;
		width: 30.33333333%;
	}
	.wpb_single_image.vc_align_center {
		margin-bottom: 0;
	}
	.wpb_text_column {
		p {
			margin-bottom: 5px;
			text-transform: uppercase;
		}
		&:first-child {
			p {
				&:last-child {
					font-size: .938em;
					margin-bottom: 12px;
					font-weight: bold;
					line-height: 16px;
				}
			}
		}
	}
	div.wpb_text_column {
		p {
			&:first-child {
				font-size: .813em;
			}
		}
	}
	.wpb_content_element {
		margin-bottom: 14px;
		padding-bottom: 8px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
			margin-top: -6px;
			p {
				margin-bottom: 0;
			}
		}
		&:first-child {
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 95%;
				height: 1px;
				background-color: @background_color_5;
			}
		}
	}
}
.td-header-sp-top-menu {
	#wpc-weather.small {
		.now {
			>.location_name {
				display: block;
			}
			>div {
				display: block;
				font-size: 11px;
			}
			.time_temperature {
				margin-top: -10px;
			}
			.time_symbol {
				svg {
					margin-bottom: 0;
					width: 30px;
					height: 30px;
				}
			}
		}
	}
	#wpc-weather {
		margin: 0 0 -5px;
		padding: 2px 10px;
		width: auto;
	}
	.wpc-weather-id {
		display: inline-block;
		margin: 10px 0 10px 5px;
		border-right: 1px solid #808080;
		&:first-child {
			border-left: 1px solid #808080;
		}
	}
	.td_data_time {
		display: block;
		margin-bottom: 0;
		margin-top: 5px;
		line-height: 18px;
	}
}
div.td-header-sp-top-widget {
	margin-top: 6px;
}
.td-header-sp-top-widget {
	.td-social-icon-wrap {
		.td-icon-font {
			font-size: 16px;
		}
	}
}
#tdw-2732633243 {
	.wpc-weather-id {
		display: inline-block;
		width: 31.33%;
		margin: 0 1%;
	}
	.wpc-weather-800 {
		margin: 4px 0;
	}
}
#tdblock-3333434543543 {
	.inlineDolar {
		width: 49%;
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 0;
		background-color: @background_color_6;
		text-align: center;
		font-size: 25px;
		background-color: @background_color_7;
		color: @color_4;
		div {
			margin-bottom: 15px;
			margin-top: 15px;
			&:last-child {
				font-size: 12px;
				margin-top: 0;
				line-height: initial;
				padding: 2px;
				color: @color_5;
				margin-bottom: 0;
				background-color: @background_color_8;
			}
		}
	}
}
.td-ss-main-sidebar {
	.td_block_9 {
		.td_block_inner {
			>div {
				display: list-item;
				padding-left: 55px;
				position: relative;
				&:before {
					content: "-> "counter(my-badass-counter, decimal-leading-zero);
					counter-increment: my-badass-counter;
					position: absolute;
					top: 2px;
					left: 0;
					color: @color_6;
				}
			}
			counter-reset: my-badass-counter;
			.td-module-meta-info {
				display: none;
			}
			.td_module_8 {
				padding-bottom: 5px;
				margin-bottom: 10px;
			}
		}
	}
	.wtii-clock-digital {
		>ul {
			background-color: @background_color_9;
			padding: 20px 0;
			li {
				font-size: 3.5em;
			}
		}
	}
	.td_block_text_with_title {
		img {
			margin-bottom: 0;
			width: 100%;
			display: block;
		}
	}
}
.contID-126726137213 {
	.subtitle {
		background-color: @background_color_10;
		font-size: 16px;
		color: @color_1;
		text-transform: uppercase;
		text-align: center;
		padding: 5px 15px;
	}
	.text {
		color: @color_7;
		background-color: @background_color_1;
		font-size: 20.5px;
		padding: 5px 15px;
		text-align: center;
		&:last-child {
			border-bottom: 5px solid #d33;
		}
	}
}
.whatsappBlock-2343242642 {
	background-color: @background_color_11;
	color: @color_1;
	padding: 4.5% 3%;
	font-size: 16px;
	.biLine {
		display: inline-block;
		vertical-align: middle;
		width: 27.2%;
	}
	.icon {
		background-image: url(images/icons/whatsapp.png);
		padding-bottom: 28.016%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-right: -5px;
	}
	.text.biLine {
		width: 69.92%;
		text-align: center;
	}
	.subtitle {
		font-size: 1.125em;
	}
	.number {
		font-size: 2em;
		margin: 6px 0 2px;
	}
	.subtext {
		font-size: .625em;
	}
}

div.cb-6578454645 {
	margin-bottom: 50px;
	margin-top: -45px;
}
div.cb-657545417432 {
	margin-top: -35px;
	margin-bottom: 15px;
}
.banSections-2343857435 {
	position: fixed;
	top: 10px;
	width: 100%;
	left: 0;
	right: 0;
	max-width: 1068px;
	margin: 0 auto;
	>div {
		position: absolute;
		top: 0;
	}
	.left {
		right: 100.5%;
		width: 14.55%;
		text-align: right;
	}
	.right {
		left: 100.5%;
		width: 14.55%;
		text-align: left;
	}
	img {
		max-width: initial;
	}
}
.td-header-style-6 {
	max-width: 1068px;
	margin: 0 auto;
}
.screenWeb-342342425 {
	display: none;
	margin-top: -8px;
	iframe {
		width: 100%;
	}
	.tvcna-label {
		padding: 4px 15px;
		background-color: @background_color_18;
		color: @color_1;
		position: relative;
		margin-top: -7px;
		&::before {
			width: 0;
			height: 0;
			content: '';
			bottom: 100%;
			left: 11px;
			border-bottom: 12px solid #dd3333;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			position: absolute;
		}
	}
}
.mobileScreen-5544345676867 {
	display: none;
	margin-top: -8px;
}
.timeClock-54536 {
	.wtii-clock-digital {
		font-family: @font_family_1;
		font-weight: normal;
		font-size: 11px;
		li {
			text-shadow: none;
		}
	}
}
.td-ss-row {
	.td-pb-span4 {
		.wpb_raw_code.wpb_content_element.wpb_raw_html {
			margin-bottom: 0;
		}
	}
}
.share_module_block.td-default-sharing.sharemainBox {
	.td-icon-twitter {
		font-size: 14px;
	}
	.td-icon-facebook {
		font-size: 14px;
	}
	.td-social-sharing-buttons {
		font-size: 11px;
	}
}
.share_module_block.td-default-sharing {
	.td-icon-twitter {
		font-size: 15px;
	}
	.td-icon-facebook {
		font-size: 15px;
	}
	position: absolute;
	display: inline-block;
	z-index: 10;
	.td-social-sharing-buttons {
		display: inline-block;
		padding: 3px 12px;
		height: auto;
		margin-right: 0;
		margin-left: 0;
		font-size: 16px;
	}
}
.td-default-sharing.share_module_mx6 {
	bottom: 5px;
	right: 5px;
}
.td-default-sharing.share_module_mx11 {
	bottom: 5px;
	right: 5px;
}
.td-default-sharing.share_module_mx5 {
	bottom: 5px;
	right: 5px;
}
.td-default-sharing.share_module_mx4 {
	top: 55%;
	right: 5px;
}
.td-default-sharing.share_module_m4 {
	top: 204px;
	right: 5px;
}
.td-default-sharing.share_module_m10 {
	top: 62%;
	left: 18%;
}
.td-default-sharing.share_module_mx10 {
	right: 5px;
	top: 5px;
}
.td-default-sharing.share_module_mx9 {
	right: 5px;
	top: 5px;
}
.td-default-sharing.sharemainBox {
	bottom: 21%;
	left: 3%;
	position: relative;
	display: inline-block;
	margin: auto;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}
div.td-default-sharing.share_module_mx6 {
	.td-social-sharing-buttons {
		margin: 4px 0 0;
	}
}
.cNewslist {
	h3 {
		>a {
			color: @color_8;
			&:hover {
				color: @color_9;
			}
		}
	}
}

.wrapSocial {
	width: 100%;
	text-align: center;
	.fb_iframe_widget {
		margin: -10px auto 30px;
	}
}
.td-pb-article-list {
	.td-pb-span8 {
		.td_module_10 {
			&::after {
				width: 100%;
				height: 1px;
				content: '';
				bottom: 22px;
				position: absolute;
				left: 0;
				background-color: @background_color_19;
			}
		}
	}
}
.hmblockw-84351 {
	.td_block_1 {
		padding-bottom: 0;
		.td_module_6 {
			padding-bottom: 21px;
		}
	}
	.td_block_15 {
		padding-bottom: 0;
		margin-bottom: -2px;
		margin-top: -5px;
	}
}

.without-date {
	.td-module-meta-info {
		display: none;
	}
}
.bgimage {
	background-position: center;
	background-size: cover;
	>img {
		display: none !important;
	}
}
.td-post-sharing-bottom {
	display: none;
}
#facebook {
	span.resp {
		display: none;
	}
}
#twitter {
	span.resp {
		display: none;
	}
}

.img-banner {
	position: absolute;
	width: 138px;
	top: 0;
}
.img-banner.left {
	left: 102.7%;
}
.img-banner.right {
	right: 102.6%;
}
.td-social-whatsapp {
	display: none !important;
}

@media (max-width: 600px) {
	.td-additional-fields-responsive-684654 {
		>.wpb_column {
			>.wpb_wrapper {
				>div {
					&:nth-of-type(11) {
						.td_module_6 {
							.td-module-thumb {
								width: 100%;
								display: block;
								width: 100%;
								position: relative;
								left: 0;
							}
							.item-details {
								margin-left: 0;
								padding-left: 12px;
								padding-right: 12px;
								min-height: initial;
								margin-top: 23px;
							}
							.entry-title {
								font-size: 21px;
								line-height: 25px;
								font-weight: normal;
							}
						}
						.td_module_4 {
							.td-post-category {
								display: none;
							}
						}
					}
				}
				.bgimage {
					position: relative;
					display: block;
					height: auto !important;
					&:before {
						content: '';
						display: block;
						width: 100%;
						padding-bottom: 100%;
					}
				}
			}
		}
	}
	body {
		&:not(.home) {
			.td-main-sidebar {
				.td-ss-main-sidebar {
					>div {
						&:nth-of-type(4) {
							display: none !important;
						}
						&:nth-of-type(6) {
							display: none !important;
						}
						&:nth-of-type(7) {
							display: none !important;
						}
						&:nth-of-type(8) {
							display: none !important;
						}
						&:nth-of-type(9) {
							display: none !important;
						}
					}
				}
			}
		}
	}
	.remove-thisWidImp-25151 {
		display: none !important;
	}
	.home {
		.td-pb-row.move-out {
			div.td_module_10 {
				img {
					max-height: 200px;
				}
			}
		}
	}
	.td-page-content {
		p {
			font-size: 18px;
			line-height: 26px;
		}
		li {
			font-size: 18px;
			line-height: 26px;
		}
	}
}
@media (max-width: 767px) {
	.smallGrid2Gallery.td_module_mx10.td-small-thumb {
		&:first-child {
			.td-module-thumb {
				img {
					width: 100% !important;
					height: auto !important;
					margin-left: 0 !important;
				}
				height: auto !important;
			}
		}
		.td-module-thumb {
			height: 236px !important;
		}
	}
	.td_block_big_grid_2 {
		.bigGrid2Gallery.td-big-thumb {
			.td-module-thumb {
				height: auto !important;
			}
		}
	}
	.td-customField22324345454.td-pb-row {
		[class*="td-pb-span"] {
			display: inline-block;
			width: 29%;
		}
	}
	.whatsappBlock-2343242642 {
		font-size: 26px;
		.number {
			margin: 6% 0 4%;
		}
	}
	
	.td-big-grid-scroll {
		width: 99%;
		float: none;
		white-space: initial !important;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.td_mycBlock_3432434539 {
		.td_block_big_grid_3 {
			.td-medium-thumb {
				.td-module-thumb {
					height: auto !important;
				}
			}
			.td-small-thumb {
				div.td-module-thumb {
					height: 170px !important;
				}
			}
		}
	}
	.td_block_wrap {
		.td-big-grid-wrapper {
			.td-big-grid-scroll {
				.td-big-grid-post {
					text-align: left;
				}
				.td-big-grid-post.smallGrid2Gallery {
					display: inline-block;
					width: 48.5%;
					&:first-child {
						width: 98%;
						display: block;
						margin-left: auto;
						margin-right: auto;
						float: none;
						margin-bottom: 10px;
					}
					&:last-child {
						margin-left: 7px;
						margin-right: 3px;
					}
				}
			}
		}
	}

	body {
		div.lastNews.td-main-content-wrap {
			li {
				width: 49.5%;
				font-size: 14px;
				margin-top: 1px;
				&:nth-child(3) {
					margin-left: 0;
				}
				&:last-child {
					display: block;
				}
			}
			a {
				border-top: 1px solid #ffffff;
			}
		}
	}
	.td-additional-fields-responsive-684654 {
		display: none;
	}
	.lastNews.td-main-content-wrap {
		width: 96%;
		margin: auto;
		margin-bottom: 20px;
	}
	.td-pb-article-list {
		.td-pb-span8 {
			.td_module_10 {
				&::after {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 440px) {
	.smallGrid2Gallery.td_module_mx10 {
		&:first-child {
			.module_excerpt {
				display: none;
			}
		}
	}
	.smallGrid2Gallery.td_module_mx10.td-small-thumb {
		&:first-child {
			.entry-title.td-module-title {
				font-size: 16px !important;
				line-height: 21px !important;
			}
		}
	}
}
@media (max-width: 1125px) {
	.whatsappBlock-2343242642 {
		font-size: 14px;
		font-size: 11px;
	}
	.td-pb-span4 {
		.widget_what_time_is_it {
			font-size: 12px;
		}
	}
	#tdblock-3333434543543 {
		.inlineDolar {
			width: 48%;
			font-size: 19px;
		}
	}
}
@media (max-width: 1020px) {
	div.lastNews.td-main-content-wrap {
		li {
			width: 33%;
			font-size: 13px;
			line-height: 20px;
			&:last-child {
				display: none;
			}
		}
	}
	.banSections-2343857435 {
		display: none;
	}
}
@media (max-width: 800px) {
	div.thisCSubtitle {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}
@media (max-width: 635px) {
	.td-customField22324345454.td-pb-row {
		text-align: center;
		[class*="td-pb-span"] {
			display: inline-block;
			width: 46%;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.whatsappBlock-2343242642 {
		font-size: 17px;
		.number {
			margin: 6% 0 4%;
		}
	}
}
@media (max-width: 500px) {
	body {
		div.td-main-content-wrap {
			div.lastNews.td-main-content-wrap {
				li {
					font-size: 14px;
					line-height: 16px;
					width: 100%;
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
		.td-main-content-wrap {
			div.lastNews.td-main-content-wrap {
				a {
					min-height: 90px;
				}
			}
		}
	}
}
@media (max-width: 585px) {
	body {
		.td-main-content-wrap {
			div.lastNews.td-main-content-wrap {
				li {
					width: 49.5%;
					font-size: 14px;
				}
			}
		}
	}
}
@media (max-width: 460px) {
	div.thisCSubtitle {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.td_mycBlock_3432434539 {
		.td_block_big_grid_3 {
			.td-medium-thumb {
				.td-module-thumb {
					height: 180px !important;
				}
			}
		}
	}
	.td_block_wrap {
		.td-big-grid-wrapper {
			.td-big-grid-scroll {
				.td-big-grid-post.smallGrid2Gallery {
					display: block;
					width: 98%;
					margin-left: auto;
					margin-right: auto;
					&:last-child {
						display: block;
						width: 98%;
						margin-left: auto;
						margin-right: auto;
						margin-top: 10px;
					}
				}
			}
		}
	}
}
@media (max-width: 417px) {
	.td-customField22324345454.td-pb-row {
		[class*="td-pb-span"] {
			display: inline-block;
			width: 100%;
			margin: 0 1.5% 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.whatsappBlock-2343242642 {
		font-size: 13px;
		.icon {
			width: 23.2%;
			padding-bottom: 23.896%;
		}
		.text.biLine {
			width: 74.92%;
		}
	}
	.vc_custom_1455569862746 {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
}

@media (max-width: 1017px) {
	
	.td_mycBlock_3432434539 {
		.td-grid-style-1 {
			.td-small-thumb {
				div.entry-title {
					font-size: 18px;
				}
			}
		}
		.td_block_big_grid_3 {
			.td-small-thumb {
				div.td-module-thumb {
					height: 127px;
				}
			}
		}
	}
}

@media (min-width: 601px) {
	.remove-thisImp-25151 {
		display: none;
	}
}
@media (max-width:600px) {
	.td-row-hide-resp-498451 {
		display: block;
	}
	.vc_row.wpb_row.td-pb-row.customGrid2Gallery.td-row-hide-resp-498451 {
		display: none;
	}
	#facebook {
		span {
			display: none;
		}
		span.resp {
			display: block;
		}
	}
	#twitter {
		span {
			display: none;
		}
		span.resp {
			display: block;
		}
	}
}
@media (max-width:992px) {
	.img-banner {
		display: none;
	}
	#facebook-cna {
		display: none;
	}
}
/*****************************************************/
/*				BxSlider WP - Custom				 */
/*****************************************************/
.bx-wrapper {
	margin-bottom: 10px;
	.bx-viewport {
		-webkit-box-shadow: none;
		        box-shadow: none;
		border: none;
		left: 0;
	}
	.bxslider {
		@media (max-width: 640px) {
		}
		img { // slide img
			width: 100%;
			height: auto;
		}
		.bx-caption {
			@media (max-width: 640px) {
				position: static;
				padding: 15px;			
			}
			background: #e6e2e2;
			padding: 15px 35px;
			span {
				@media (max-width: 640px) {
					padding:0;
					font-size: 13px;
					line-height: 1.3;
				}			
				font-family: inherit;
				font-size: 14px;	
				font-weight: 600;
				color: @color_5; 
				line-height: 1.5;
				padding-left: 0;
				padding-right: 0;	
			}
		}
	}
	.bx-controls-direction {
		a {
			top: 0;
			margin-top: 0;
			height: 100%;
			width: 60px;
			text-indent: initial;
			color: transparent;
			@media (max-width: 640px) {
				width: 40px;
			}
			// Icon 
			&::before {
				font-family: 'newspaper';
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				color: white;
				font-size: 60px;
				line-height: 1;
				text-align: center;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				top: 40%;
				opacity: 0.75;
				transition: all ease 300ms;
				@media (max-width: 640px) {
					font-size: 40px;
				}				
			}
			&:hover {
				&::before {
					opacity: 1;
					transform: scale(1.2);
				}
			}
		}
		.bx-prev {
			background: none;
			left: 0;
			&::before {
				content: '\e802';
				left: 15px;
				padding: 0px 15px 0px 5px;
				border-right: 3px solid;
				@media (max-width: 640px) {
					border: none;
				}
			}
			
		}
		.bx-next {
			background: none;
			right: 0;
			&::before {
				content: '\e803';
				right: 15px;
				left: auto;
				padding: 0px 5px 0px 15px;
				border-left: 3px solid;
				@media (max-width: 640px) {
					border: none;
				}
			}
		} 

	}
	.bx-pager {
		// visibility: hidden;
		bottom: -40px;
		&.bx-default-pager a {
			background-color: #999999;
		}
	}
}

// * { outline: 1px solid rgba(0, 250, 0, 0.35)}
/******************************************************
*             END - CUSTOM STYLE - CNA
******************************************************/