twentyseventeen/
themes/Newspaper/includes/wp_booster/td_cake_default.php
themes/Newspaper/includes/wp_booster/td_cake.php
themes/Newspaper/ads.html
plugins/popup-anything-on-click
plugins/popup-maker
plugins/bxslider-wp-pro
plugins/wordpress-importer
uploads
upgrade
.git-old
